/* ============================================ */
/*               blue theme design              */
/* ============================================ */

/* ====== Design des bouton ====== */

.button {
    /* --- forme et couleur --- */
    -fx-background-color: #2C3E50;
    -fx-background-radius: 20;

    /* --- bordure du bouton --- */
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-border-color: #FF931F;

    /* --- texte du bouton --- */
    -fx-text-alignment: center;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #FF931F;
    -fx-text-fill: white;
}

/* ====== Design arrière plan ====== */

.BackPane{
    -fx-background-color: #1C2833;
}

/* ====== Design interface de jeu ====== */

.GamePane {
    /* --- couleur --- */
    -fx-background-color: #1C2833;

    /* --- bordure --- */
    -fx-border-color: #FF931F;
}

.GameButton {
    /* --- forme et couleur --- */
    -fx-background-color: #2C3E50;
    -fx-background-radius: 20;

    /* --- bordure du bouton --- */
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-border-color: #FF931F;

    /* --- texte du bouton --- */
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
/* ====== Design des couches supérieures ====== */

.UpperLayerPane{
    /* --- forme et couleur --- */
    -fx-background-color: #263B4F;
    -fx-background-radius: 10;
    /* --- bordure --- */
    -fx-border-color: #FF931F;
    -fx-border-radius: 10;
}

/* ====== Design des listes ====== */
.List{
    -fx-background-color: #2C3E50;
    -fx-background-radius: 5;
    -fx-border-color: #ff931f;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}

/* --- Apparence cellule paire --- */
.list-cell:even {
    -fx-background-color: #3b4651;
}
/* --- Apparence cellule impaire --- */
.list-cell:odd {
    -fx-background-color: #333c45;
}

/* --- Apparence en survol d'une cellule --- */
.list-cell:filled:hover {
    -fx-background-color: #ffab53;
}

/* --- Apparence cellule sélectionnée --- */
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #ff931f;
}

/* ====== Design des textes ====== */
.Text {
    -fx-fill: #ff931f;
}

/* ====== Design des lignes ====== */
.Line {
    -fx-stroke: #ff931f;
}



