/* ============================================ */
/* Design de l'ecran d'accueil de l'application */
/* ============================================ */

/* ====== Design bouton ====== */

.button {
    /* --- forme et couleur --- */
    -fx-background-color: #2C3E50;
    -fx-background-radius: 20;

    /* --- bordure du bouton --- */
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-border-color: #FF931F;

    /* --- texte du bouton --- */
    -fx-text-alignment: center;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #ff931f;
    -fx-text-fill: white;
}
