/* ====== Design des radio button ====== */
.BlueRadio{
    -fx-text-fill: white;
}
.BlueRadio .radio {
    -fx-background-color:  #1C2833;
    -fx-background-radius: 130;
    -fx-border-color: #ff931f;
    -fx-border-radius: 130;
}

.RedRadio{
    -fx-text-fill: #d4d4d4;
}
.RedRadio .radio {
    -fx-background-color: #eaeaea;
    -fx-background-radius: 130;
    -fx-border-color: #4ca2d7;
    -fx-border-radius: 130;
}